* {
  padding: 0;
  box-sizing: border-box;
  color: white;
}

@font-face {
  font-display: swap;
  font-family: "Climate Crisis";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/climate-crisis-v14-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/roboto-flex-v30-latin-regular.woff2") format("woff2");
}

html {
  scroll-behavior: smooth;
}

body,
html {
  height: 100%;
}

body {
  margin: 0 auto;
  font-family: "Roboto Flex";
  background-color: #05171e;
  display: flex;
  flex-direction: column;
  position: relative;
}

main {
  margin-top: 120px;
  margin-bottom: 120px;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-header {
  background-color: #082029;
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-header {
  height: 120px;
  max-width: 1440px;
  background-color: #082029;
  display: flex;
  align-items: center;
}

.logo-img {
  height: 80px;
  width: 300px;
}

.section-h1 {
  margin: 0;
  font-size: 32px;
}

.gallery-section {
  flex-wrap: wrap;

  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-styling {
  margin: 16px;
  height: 200px;
  width: 200px;
  border-radius: 25px;
}

.img-styling:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px rgb(134, 176, 216);
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

.section-footer {
  background-color: #082029;
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-footer {
  height: 120px;
  max-width: 1440px;
  background-color: #082029;
  display: flex;
  align-items: center;
}

/* Dialog css */

dialog {
  height: 900px;
  width: 600px;
  border-radius: 25px;
  border-color: #082029;
  background-color: rgba(12, 49, 63, 0.849);
  position: absolute;
}

.dialog-opened {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

dialog::backdrop {
  background-color: #071c25b4;
}

p {
  font-size: 28px;
}

.dialog-header {
  width: 85%;
  margin-right: 24px;
  margin-left: 24px;
  margin-top: 32px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dialog-footer {
  width: 85%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dialog-btns {
  background: transparent;
  border: none;
}

.dialog-btns:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 50ms ease-in-out;
}

.container-img-big {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-big-styling {
  height: 500px;
  width: 500px;
  border-radius: 25px;
}

/* mediaqueries */

@media (max-width: 1300px) {
  .section-h1 {
    font-size: 24px;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 1000px) {
  .section-h1 {
    margin-top: 48px;
    margin-bottom: 48px;
    max-width: 90%;
    font-size: 20px;
    display: flex;
    justify-content: center;
  }

  .img-styling {
    height: 120px;
    width: 120px;
  }
}

@media (max-width: 845px) {
  .section-h1 {
    font-size: 18px;
    text-align: center;
  }
}

@media (max-width: 600px) {
  dialog {
    height: 700px;
    width: 400px;
  }

  .dialog-header {
    margin: 0;
  }

  .img-big-styling {
    height: 300px;
    width: 300px;
  }
}

@media (max-width: 425px) {
  p {
    font-size: 20px;
  }

  .dialog-footer {
    margin-top: 40px;
  }

  .img-big-styling {
    height: 250px;
    width: 250px;
  }

  .logo-img {
    height: 40px;
    width: 150px;
    padding-left: 0;
  }

  .main-header {
    justify-content: center;
  }

  .main-footer {
    justify-content: center;
  }
}

@media (max-width: 340px) {
  .img-styling {
    margin: 8px;
    height: 100px;
    width: 100px;
  }
}
